@using System.Text;
@using System.Text.Json;
@model Order;
<link rel="stylesheet" type="text/css" href="css/checkout.css">


<div class="container">

	<div class="left">
		<h2>Checkout</h2>
		<form asp-controller="Cart" asp-action="Pay" method="post">
			@if (ViewBag.userEmail == null && ViewBag.userFirstName == null && ViewBag.userLastName == null)
			{
				<div class="name-fields">
					<label for="FirstName">First Name:</label>
					<input type="text" class="first-name" asp-for="FirstName" name="FirstName" required>
					<label for="LastName">Last Name:</label>
					<input type="text" asp-for="LastName" name="LastName" required>
				</div>
				<label for="email">Email:</label>
				<input type="email" asp-for="Email" id="email" name="email" required>
			}
			else
			{
				<div class="name-fields">
					<label for="first-name">First Name:</label>
					<input type="text" class="first-name" asp-for="FirstName" value="@ViewBag.userFirstName"
					name="first-name" required>
					<label for="last-name">Last Name:</label>
					<input type="text" name="last-name" asp-for="LastName" value="@ViewBag.userLastName" required>
				</div>
				<label for="email">Email:</label>
				<input type="email" id="email" value="@ViewBag.userEmail" asp-for="Email" name="email" required>
			}


			<label for="town">Town:</label>
			<input type="text" id="town" name="town" asp-for="Town" required>

			<label for="address">Address:</label>
			<input type="text" id="address" name="address" asp-for="Address" required>

			<input type="hidden" id="totalHidden" asp-for="TotalPrice" value="@ViewBag.totalPrice">


			<button type="submit" id="submit">Submit</button>
		</form>
	</div>

	<div class="right">
		@{
			var bytess = Context.Session.Get("cartItems");
			if (bytess == null)
				throw new Exception();
			var json = Encoding.UTF8.GetString(bytess) ?? "";
			var list = JsonSerializer.Deserialize<List<Item>>(json) ?? new List<Item>();
		}
		@foreach (var item in list)
		{
			@* string src = "img/" + item.Image?.Replace("img/", "")?.Replace(".jpeg", "") + ".jpeg" ?? ""; *@
			string src = $"http://localhost:8000/api/images/{item.Image}.jpeg";
			src = src.Replace(' ', '-');
			<div class="product">
				<img src="@src">
				<h3>@item.Name</h3>
				<p>$@item.Price</p>
			</div>
		}

		<div class="subtotal">
			<p id="subtotal">Subtotal: $@ViewBag.totalPrice</p>
			<p>Delivery: $<span id="result">0</span></p>
			<p>Total: <span id="total">$@ViewBag.totalPrice</span></p>
		</div>
	</div>
</div>