@model List<Item>
@{
    ViewData["Title"] = "Cart";
}
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="css/cart2.css" />


<h1 class="title">@ViewData["Title"]</h1>
<div class="main">
    @{
        if (Model.Count == 0)
        {
            <div class="no-items">
                <h1 class="text">There is any items in your cart</h1>
                <a href="/">Go to shoping -></a>
            </div>
        }
        else
        {
            <section class="product-list">
                @foreach (Item item in Model)
                {
                    @* string src = "img/" + item.Image?.Replace("img/", "")?.Replace(".jpeg", "") + ".jpeg" ?? ""; *@
                    string src = $"http://localhost:8000/api/images/{item.Image}";
                    src = src.Replace(' ', '-');
                    <div class="product">
                        <img src="@src" alt="product1" class="child img">
                        <h2 class="child" style="color: green">$ @item.Price</h2>
                        <h2 class="child">@item.Name</h2>
                        <h3 class="child">Size: @item.Size</h3>
                        <a href="/DeleteItem/@item.Id"><img class="trash-icon" src="img/trash.svg"></a>
                    </div>
                }
            </section>
            <div class="cart-total">
                <div class="total">
                    <h3 class="child">Total:</h3>
                    <span class="child price">$@ViewBag.totalPrice</span>
                </div>
                <a asp-controller="Cart" asp-action="Clear" class="clear">Clear Cart</a>
                <a href="/checkout" class="checkout">Buy</a>
            </div>
        }
    }
</div>