@using System.Text;
@using System.Text.Json;
@{
    ViewData["Title"] = "Cart";
}
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="css/cart2.css" />


<h1 class="title">@ViewData["Title"]</h1>
<div class="main">
    @{
        var bytes = Context.Session.Get("cartItems");
        if (bytes == null)
        {
            <div class="no-items">
                <h1 class="text">There is any items in your cart</h1>
                <a href="/">Go to shoping -></a>
            </div>
        }
        else
        {
            var json = Encoding.UTF8.GetString(bytes);
            var list = JsonSerializer.Deserialize<List<Item>>(json) ?? new List<Item>();
            <section class="product-list">
                @foreach (Item item in list)
                {
                    string src = "img/" + item.Image?.Replace("img/", "")?.Replace(".jpeg", "") + ".jpeg" ?? "";
                    <div class="product">
                        <img src="@src" alt="product1" class="child img">
                        <h2 class="child" style="color: green">$ @item.Price</h2>
                        <h2 class="child">@item.Name</h2>
                        <h3 class="child">Size: @item.Size</h3>
                        <a href="/DeleteItem/@item.Id"><img class="trash-icon" src="img/trash.svg"></a>
                    </div>
                }
            </section>
            <div class="cart-total">
                <div class="total">
                    <h3 class="child">Total:</h3>
                    <span class="child price">$@ViewBag.totalPrice</span>
                </div>
                <a asp-controller="Cart" asp-action="Clear" >Clear Cart</a>
                <a href="/checkout" class="checkout">Buy</a>
            </div>
        }
    }
</div>